In [46]:
import pandas as pd
import requests

In [47]:
x= requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=ac8d19e66344fe5a0910360da49d6a70&language=en-US&page=1")

In [48]:
df= pd.DataFrame(x.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [49]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,34.5043,8.714,29394
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,32.6965,8.700,22183
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,14.6188,8.600,13407
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,11.7463,8.566,16930
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,10.1333,8.500,9599

In [50]:
df= pd.DataFrame()

In [53]:
for i in range(1,429):
    url= f"https://api.themoviedb.org/3/movie/top_rated?api_key=ac8d19e66344fe5a0910360da49d6a70&language=en-US&page={i}"
    response = requests.get(url)
    data= pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df=pd.concat([df,data],ignore_index=True)

In [54]:
df.shape

(8560, 7)

In [55]:
df.to_csv('topRatedMovies.csv')